.profile__change-name {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    padding: 6px;
    position: absolute;
    right: -42px;
    bottom: 0;
}

@media screen and (max-width: 767px) {
    .profile__change-name {
        width: 7.5px;
        height: 7.5px;
        border: 1px solid white;
        padding: 4.25px;
        right: -28px;
        bottom: 0;
    }
}

.profile__change-name:hover {
    opacity: .6;
    
}