.form__name {
    border: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .2);;
    background-color: transparent;
    width: 358px;
    margin: 0 auto;
    padding: 0px 0px 12px 0px;
    height: 27px;
}

.form__name::placeholder {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: black;
}

@media screen and (max-width: 767px) {
    .form__name {
        width: 238px;
    }
}