.popup__button_type_close {
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .popup__button_type_close {
        top: -36px;
        right: 0;
    }
}