.popup__button_type_save {
    width: 358px;
    color: white;
    background-color: black;
    margin-top: 48px;
    border-radius: 2px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 16px;
}

@media screen and (max-width: 767px) {
    .popup__button_type_save {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 18px;
        padding-top: 14px;
        padding-bottom: 14px;
    }
}

.popup__button_type_save:disabled,
button[disabled]{
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  opacity: 0.2;
}