.profile__description {
    padding-top: 16px;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
    margin: 0;
    max-width: 315px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__description {
        padding-top: 14px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        width: 215px;
        margin: 0 auto;
        max-width: calc(100vw - 100px);
        min-width: 189px;
    }
}